#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup-close-button {
    font-size: x-large;
}

.geocoder {
	position:absolute;
	z-index:1;
	width:30%;
	left:62%;
	margin-left:-25%;
	top:10px;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }